{% load staticfiles %}
{% load pipeline %}
<html>
    <head>
        <title>Unfoobared</title>
        <style>
body {
    background-color: #293236;
    color: #e0e2e4;
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}
        </style>
    </head>
    <body style="background-color: #293236">
        <div id="header">
        </div>
        <div id="blog">
        </div>
        {% javascript 'blog' %}
    </body>
</html>
